<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movies.title %></title>
  </head>
  <body>
    <h1><%= movies.title %></h1>
    <p>Year: <%= movies.year %></p>
    <p>Plot: <%= movies.plot %></p>
    <p>Length: <%= movies.length %></p>
    <p>Genre: <%= movies.genre %></p>
    <% if(user.isItAdmin){ %>
    <a href="/movies/<%= movies._id%>/edit">Edit Title</a>
    <form action="/movies/<%=movies._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= movies.title %></button>
    </form>
    <% } %>
    <h2>Reviews & Ratings</h2>
    <p>Rating:</p>
    <% if(!foundReview){ %>
    <a href="/movies/<%= movies._id%>/reviews/new/<%= movies._id%>"
      >Add a review</a
    >
    <% } %>
    <p>My Rating: <%= foundReview.rating %></p>
    <p>My Review: <%= foundReview.review %></p>
    <a href="">Edit Review</a>
    <p>All Reviews:</p>
    <ul>
      <% reviews.forEach(review =>{ %>
      <li>
        A
        <a href="/movies/<%=movies._id%>/reviews/<%= review._id %>">review</a>
        from <%= review.owner.username %> with a rating of <%= review.rating %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
