<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movies.title %></title>
    <%- include("../partials/_navbar.ejs") %>
    <style>
      body {
        margin: 0;
        font-family: "Fira Sans", sans-serif;
        background: linear-gradient(120deg, #0b0b0b, #1f1f1f);
        color: #ffffff;
        text-align: center;
        padding: 20px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }

      h1,
      h2 {
        color: #ffd700;
        margin: 0;
      }

      p {
        color: #e0e0e0;
        margin: 5px 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 20px auto;
        max-width: 800px;
        text-align: left;
      }

      li {
        margin: 10px 0;
        padding: 10px;
        background: #333333;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }

      li a {
        color: #ffd700;
      }

      li a:hover {
        text-decoration: underline;
        color: #ffffff;
      }
      a,
      button {
        margin: 10px 5px;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background: #b28228;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1><%= movies.title %></h1>
    <p>Year: <%= movies.year %></p>
    <p>Plot: <%= movies.plot %></p>
    <p>Length: <%= movies.length %></p>
    <p>Genre: <%= movies.genre %></p>
    <% if(user.isItAdmin){ %>
    <a href="/movies/<%= movies._id%>/edit">Edit Title</a>
    <form action="/movies/<%=movies._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= movies.title %></button>
    </form>
    <% } %>
    <h2>Reviews & Ratings</h2>
    <% if(!foundReview){ %>
    <a href="/movies/<%= movies._id%>/reviews/new/<%= movies._id%>"
      >Add a review</a
    >
    <% } else { %>
    <p>My Rating: <%= foundReview.rating %></p>
    <p>My Review: <%= foundReview.review %></p>
    <% } %>
    <p>All Reviews:</p>
    <ul>
      <% reviews.forEach(review =>{ %>
      <li>
        A
        <a href="/movies/<%=movies._id%>/reviews/<%= review._id %>">review</a>
        from <%= review.owner.username %> for <%= review.movie.title %> with a
        rating of <%= review.rating %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
