<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movies.title %></title>
  </head>
  <body>
    <h1><%= movies.title %></h1>
    <p>Year: <%= movies.year %></p>
    <p>Plot: <%= movies.plot %></p>
    <p>Length: <%= movies.length %></p>
    <p>Genre: <%= movies.genre %></p>
    <% if(user.isItAdmin){ %>
    <a href="/movies/<%= movies._id%>/edit">Edit Title</a>
    <form action="/movies/<%=movies._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= movies.title %></button>
    </form>
    <% } %>
    <h2>Reviews & Ratings</h2>
    <p>Rating:</p>
    <p>My Rating:</p>
    <p>My Review:</p>
    <p>Other Reviews:</p>
  </body>
</html>
